In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creating 2 series

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5))

print(s1,s2)

0    0.438242
1    0.461495
2    0.686885
3    0.138459
4    0.174756
dtype: float64 0    0.164694
1    0.954231
2    0.228604
3    0.187656
4    0.224474
dtype: float64

In [5]:
# Creating dataframe with the series

df = pd.DataFrame([s1,s2])
df

          0         1         2         3         4
0  0.438242  0.461495  0.686885  0.138459  0.174756
1  0.164694  0.954231  0.228604  0.187656  0.224474

In [8]:
# Transpose - Coverting observations(rows) into features(column)

df = df.T

In [9]:
df

          0         1
0  0.438242  0.164694
1  0.461495  0.954231
2  0.686885  0.228604
3  0.138459  0.187656
4  0.174756  0.224474

In [11]:
# Changing the column name

df.columns = ['S1','S2']
df

         S1        S2
0  0.438242  0.164694
1  0.461495  0.954231
2  0.686885  0.228604
3  0.138459  0.187656
4  0.174756  0.224474

In [12]:
# Creating dictionary

d = {'Name':['Hari', 'Srikanth', 'Saumya'],
     'Gender':['M','M','F']}

d

{'Name': ['Hari', 'Srikanth', 'Saumya'], 'Gender': ['M', 'M', 'F']}

In [13]:
df = pd.DataFrame(d)
df

       Name Gender
0      Hari      M
1  Srikanth      M
2    Saumya      F

In [14]:
# Adding a column

df['Org.'] = ['SmartBridge', 'SmartInternz', 'SmartBridge']

In [19]:
# Adding a column

df['Age'] = [29,32]

ValueError: ignored

In [20]:
# Adding a column

df['Age'] = [np.nan,32,39]

In [21]:
df

       Name Gender          Org.   Age
0      Hari      M   SmartBridge   NaN
1  Srikanth      M  SmartInternz  32.0
2    Saumya      F   SmartBridge  39.0

In [22]:
# Adding a column

df['Agee'] = [27,32,39]
df

       Name Gender          Org.   Age  Agee
0      Hari      M   SmartBridge   NaN    27
1  Srikanth      M  SmartInternz  32.0    32
2    Saumya      F   SmartBridge  39.0    39

In [25]:
# Remove the unwanted column

df = df.drop(['Agee'],axis=1)

In [26]:
df

       Name Gender          Org.   Age
0      Hari      M   SmartBridge   NaN
1  Srikanth      M  SmartInternz  32.0
2    Saumya      F   SmartBridge  39.0

In [27]:
# Location (loc) & Index location (iloc) ---> Syntax = loc[:,:], iloc[:,:]

In [29]:
# give the actual row and column name as a parameter

df.loc[0:1,'Name':'Org.']

       Name Gender          Org.
0      Hari      M   SmartBridge
1  Srikanth      M  SmartInternz

In [30]:
# give the actual row and column index value as a parameter

df.iloc[1:,2:]

           Org.   Age
1  SmartInternz  32.0
2   SmartBridge  39.0

In [34]:
# Adding a row

df.loc[3] = ['Shivam','M', np.nan, 24]

In [35]:
df

       Name Gender          Org.   Age
0      Hari      M   SmartBridge   NaN
1  Srikanth      M  SmartInternz  32.0
2    Saumya      F   SmartBridge  39.0
3    Shivam      M           NaN  24.0

In [37]:
# Removing a row

df.drop([3],axis=0)

       Name Gender          Org.   Age
0      Hari      M   SmartBridge   NaN
1  Srikanth      M  SmartInternz  32.0
2    Saumya      F   SmartBridge  39.0

In [42]:
# Finding null values

df.isnull()

    Name  Gender   Org.    Age
0  False   False  False   True
1  False   False  False  False
2  False   False  False  False
3  False   False   True  False

In [46]:
# Finding null values

# df.isnull().all()

In [44]:
# Finding null values

df.isnull().sum()

Name      0
Gender    0
Org.      1
Age       1
dtype: int64

In [49]:
# Calling a specific column

df['Age']

0     NaN
1    32.0
2    39.0
3    24.0
Name: Age, dtype: float64

In [50]:
# Checking the datatype

df['Age'].dtype

dtype('float64')

In [52]:
# Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Gender  4 non-null      object
 2   Org.    3 non-null      object
 3   Age     3 non-null      float64
dtypes: float64(1), object(3)
memory usage: 332.0+ bytes

In [53]:
# Descriptive stat

df.describe()

             Age
count   3.000000
mean   31.666667
std     7.505553
min    24.000000
25%    28.000000
50%    32.000000
75%    35.500000
max    39.000000

In [54]:
# Descriptive stat

df.describe(include='all')

        Name Gender         Org.        Age
count      4      4            3   3.000000
unique     4      2            2        NaN
top     Hari      M  SmartBridge        NaN
freq       1      3            2        NaN
mean     NaN    NaN          NaN  31.666667
std      NaN    NaN          NaN   7.505553
min      NaN    NaN          NaN  24.000000
25%      NaN    NaN          NaN  28.000000
50%      NaN    NaN          NaN  32.000000
75%      NaN    NaN          NaN  35.500000
max      NaN    NaN          NaN  39.000000

In [55]:
df['Age'].mean()

31.666666666666668